.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 53, 53);
    margin:0px;
    border: none;
    color: white;
    font-size: 35px;
}

.body{
    padding: 0px;
    margin:0px;
    background-color: rgb(23, 22, 22);
}

.results{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weapon{
    padding: 5px;
    font-size: 55px;
    color: white;
}

.rules{
    font-size: 25px;
    color: white;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.column{
    display: flex;
    flex-direction: column;
    
    

  }
  .textcontainer{
    display: flex;
    justify-content: center;
  }

  .playerscore{
    color: white;
  }
  
  .Computerscore{
    color: white;
  }

  .tile1{
    display: flex;
    align-items: center;
    height: 200px;
    width: 200px;
    background-image: url('images/avatar.svg');
    fill: gray;
    background-size: cover;
    border: 3px solid white;
    border-radius: 10px;
  }
  .tile2{
    display: flex;
    justify-content: center;
    background-image: url('images/pc.png');
    background-size: cover;
    height: 200px;
    width: 200px;
    
    border: 3px solid white;
    border-radius: 10px;
  }
  .text{
    color: white;
    text-align: center;
  }

  .buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    
  }
  .rock{
    background-color: grey;
    border-radius: 100px;
    padding: 20px;
  }

  .rockimg{
    background-image: url('images/rock.png');
    background-size: cover;
    height: 100px;
    width: 100px;
  }

  .paper{
    background-color: black;
    border-radius: 100px;
    padding: 20px;
  }

  .paperimg{
    background-image: url('images/paper.png');
    background-size: cover;
    height: 100px;
    width: 100px;
  }

  .scissors{
    background-color: grey;
    border-radius: 100px;
    padding: 20px;
  }

  .scissorsimg{
    background-image: url('images/scissors.png');
    background-size: cover;
    height: 100px;
    width: 100px;
  }
  #overlaycontainer {
    display: flex;
    /* display: none; */
    align-items: center; 
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #overlay {
    display: none; 
    display: flex;
    width: 400px; 
    height: 300px; 
    background-color: black;
    /* background-image: url('images/numa.gif'); */
    /* background-image: url('images/pctrash.gif'); */
    background-size: cover;
    z-index: 999; 
    position: absolute;
    cursor: pointer; 
  }

  #closecontainer{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-end;
    /* align-self: center; */
    
  }

  #closebutton{
    position: absolute;
    bottom:10px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
  }